qiskit-ibm-runtime==0.22.0
qiskit-aer==0.13.3
more-itertools==10.2.0
git+https://github.com/Qiskit-Extensions/circuit-knitting-toolbox.git@LO-circuit-cuts-optimizer#egg=circuit-knitting-toolbox[notebook-dependencies,dev,cplex]
